:root {
    --colour-background: #000;
    --colour-text: #fff; 
    --colour-highlight-primary: #6c83ff;
    --colour-highlight-secondary: #ffa98e;

    --colour-link-active: rgb(197, 194, 194);

    --font-logo: 'Roboto Condensed', sans-serif;
    --font-nav-links: 'Source Code Pro', monospace;
    --font-heading: 'IBM Plex Sans', sans-serif;
    --font-body: 'IBM Plex Sans', sans-serif;

    --font-weight-logo: 400;
    --font-weight-nav-links: 400;
    --font-weight-heading: 500;
    --font-weight-body: 400;
    --font-weight-body-small: 300;

    --font-logo-size: 24px;
    --font-heading-size: 90px;
    --font-subheading-size: 42px;
    --font-nav-link-size: 16px;
    --font-body-text-size: 18px;
    --font-btn-size: 18px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--colour-background); /* Black background */
    color: var(--colour-text);  /* White Text */
}

/* **Placeholder CSS for creating sections */
section {
    height: 1000px;
}

/* Main website container */
.container__outer {
    margin: 0 70px 0 70px;
}
/* || */

/* Header */
.header__container {
    height: 110px;
    align-items: center;
    display: flex;
}

.header__navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 100%;
}

.header__navbar-logo {
    font-family: var(--font-logo);
    font-size: var(--font-logo-size);
    letter-spacing: 0em;
    transform: scaleY(1.2); /* Make text slightly taller */
}

.header__navbar__links--right {
    font-family: var(--font-nav-links);
    font-size: var(--font-nav-link-size);
    font-weight: var(--font-weight-nav-links);
    list-style: none;
    display: flex;
    gap: 2em;
}

.navbar__link__tag {
    text-decoration: none;
    color: inherit;
}

.navbar__link__tag:active {
    color: var(--colour-link-active);
}
/* || */




/* Section 1 || Hero Section */
.hero__section {
    background-color: rgba(218, 218, 218, 0.3);
    display: flex;
    flex-direction: column;
}

.hero__main {
    background-color: rgba(240, 128, 128, 0.3);
    height: 500px;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.hero__title {
    font-family: var(--font-heading);
    font-size: var(--font-heading-size);
    font-weight: var(--font-weight-heading);
    margin-bottom: 20px;
    margin-left: -6px;
}

.main__body__text {
    font-family: var(--font-body);
    font-size: var(--font-body-text-size);
    font-weight: var(--font-weight-body);
}

#hero__description {
    width: 45%;
}

.btn--link {
    color: var(--colour-background);
    font-family: var(--font-nav-links);
    font-size: var(--font-btn-size);
    background-color: var(--colour-text);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 170px;
    height: 40px;
    border-radius: 30%;
    border: none;
}


.hero__embedded-video {
    height: 500px;
    width: 100%;
    background-color: rgba(138, 163, 209, 0.3);

    /* TEMPORARY */
    display:flex;
    align-items: center;
    justify-content: center;
}
